<nav>
  <a href="/"><img src="./images/assets/bs-logo-temp-01.svg" id="logo"></a>

  <form>
      <input type="search" name="search">
      <button id="btn_search" type="submit">Search</button>
  </form>


  <% if (tempLogin.length > 0) { %>

    <a href="/logout"><button>Log out</button></a>

  <% } else { %>

  <a href="/signup">Login | Register</a>

  <% } %>

</nav>
<br>
<br>
