<nav class="navbar navbar-light bg-light">

  <a href="/"><img src="../images/assets/barkspacelogo.svg" id="logo"></a>

  <form method="post" action="\searchbar">
      <input type="search" placeholder="seach..." name="search">
      <select name="category">
        <option value="users">Users</option>
        <option value="tags">Tags</option>
      </select>
      <button id="btn_search" type="submit" style="display:none"></button>
  </form>


  <% if (tempLogin.length > 0) { %>

    <a href="/profile"><button id="profileBtn"><%= tempLogin %></button></a>
    <a href="/logout"><button id="logoutBtn">Log out</button></a>

  <% } else { %>

  <a href="/signup"> Login | Register </a>

  <% } %>

</nav>
<br>
<br>
