<!DOCTYPE html>
<html>
<head>
	<title>BarkSpace | Home</title>
	<link rel="stylesheet" href="/css/home.css">
</head>
<body>

	<%- include partials/_nav %>
	<h2>Woof Woof <%= tempLogin %></h2>

	<%- include partials/_feeder %>


<div id="display">




</div>



</body>
</html>
