<!DOCTYPE html>
<html>
<head>
	<title>BarkSpace | Home</title>
	<link rel="stylesheet" href="/css/home.css">
</head>
<body>

	<%- include partials/_nav %>
	<%= tempLogin %>

	<div id="wrapper">
		<%# Placeholder for main feed %>
		<div id="feed">
			<img src="" class="user_pic">
			<h1>Username</h1>
			<img src="" class="post_pic">
			<img src="" class="like_pic">
			<p>Number of likes</p>
			<div class="comments">
				<textarea></textarea>
			</div>
		</div>
	</div>


<div id="display">




</div>



</body>
</html>
