<!DOCTYPE html>
<html>
<head>
	<title>BarkSpace | Home</title>
</head>
<body>

	<nav>
		<img src="" id="logo">

		<form>
				<input type="text" name="search">
				<button id="btn_search" type="submit">Icon</button>
		</form>

		<a href="">Add New Icon</a>

		<a href="">Profile Icon</a>

	</nav>

	<div id="wrapper">
		<div id="feed">
			<img src="" class="user_pic">
			<h1>User name</h1>
			<img src="" class="post_pic">
			<img src="" class="like_pic">
			<p>Number of likes</p>
			<div class="comments">
				<textarea></textarea>
			</div>
		</div>
	</div>




</body>
</html>