<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign In | Register</title>
    <%- include partials/_headLinks %>
  <link href="/css/login_register.css" rel="stylesheet" />
  </head>
  <body>


    <h3 style="color:red;"><%= errMsg %></h3>




    <div id="main">
    <form action="\login" method="post">
      <table border="0" cellspacing="10">
          <tr>
              <td>
                  <div id="title">SIGN IN</div>
                  <hr size="1px" width="100px" color="black"/>
              </td>
          </tr>
          <tr>
              <td>
                  <input class="portalInputs" type="text" name="username" placeholder="USER ID"/>
              </td>
          </tr>
          <tr>
              <td>
                  <input class="portalInputs" type="password" name="password" placeholder="PASSWORD"/>
              </td>
          </tr>
          <!-- <tr>
              <td align="right">
                  <div id="frt">FORGOT PASSWORD</div>
              </td>
          </tr> -->
          <tr>
              <td align="center">
                  <input class="portalInputs" type="submit" value="SIGN IN" id="signInBtn"/>
              </td>
          </tr>
          <tr>
              <td align="center">
                  <div id="signUpMsg">DON'T HAVE AN ACCOUNT? <a href="#" id="flipToSignUp">SIGN UP</a></div>
              </td>
          </tr>
      </table>
    </form>
  </div>

  <div id="signUpForm">
      <form action="/register" method="post">
      <table border="0" cellspacing="10">
          <tr>
              <td>
                  <div id="title">SIGN UP</div>
                  <hr size="1px" width="100px" color="black"/>
              </td>
          </tr>
          <tr>
              <td>
                  <input class="portalInputs" type="text" name="fname" placeholder=" NAME"/>
              </td>
          </tr>
          <tr>
               <td>
                  <input class="portalInputs" type="text" name="lname" placeholder="SURNAME"/>
                  </td>
              </tr>
              <tr>
                   <td>
                       <input class="portalInputs" type="text" name="username" placeholder="USERNAME"/>
                      </td>
                  </tr>
          <tr>
              <td>
                  <input class="portalInputs" type="email" name="email" placeholder="EMAIL ID"/>
              </td>
          </tr>
          <tr>
              <td>
                  <input class="portalInputs" type="password" name="password" placeholder="PASSWORD"/>
              </td>
          </tr>
          <tr>
             <td>
                 <input class="portalInputs" type="password" name="password2" placeholder="PASSWORD"/>
                  </td>
              </tr>


          <tr>
              <td align="center">
                  <input type="submit" value="SIGN UP" id="signUpBtn"/>
              </td>
          </tr>
          <tr>
              <td align="center">
                  <div id="signInMsg">HAVE AN ACCOUNT <a href="#" id="flipToSignIn">SIGN IN</a></div>
              </td>
          </tr>
      </table>
    </form>
  </div>




  </body>
  <footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="./scripts/signin_register.js">

    </script>
  </footer>
</html>
