<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <%- include partials/_headLinks %>

  </head>
  <body>

    <%- include partials/_nav %>

    <h2 class="title"> Welcome, <%= tempLogin %></h1>
    <h3 class="subtitle">New Post</h3>

    <!--______________________Upload Form _________________________-->
    <div class="newPostWrapper">

        <form class="newPost" action="/post-picture" method="post" enctype="multipart/form-data">

          <label style="margin-right: 15px;">Select Post Image</label></br><input type="file" name="postpic" onchange="getButton()" id="imageCall" />
          <textarea maxlength="150" name="description" placeholder="Enter a description..." rows="4" cols="80"></textarea><br>

          <button type="submit" id="imgPost">Post</button>

        </form>

  </div>
    <!-- _____________________ ***********_________________________-->



    <hr>

    <div class="my-posts">
      <h3 class="subtitle">My Posts</h3>
      <hr>

      <%- include partials/_feeder %>

    </div>

    <div class="my-settings">
      <%# space for altering of personal settings %>
    </div>

  </body>
  <footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="./scripts/likes.js"></script>
    <script>




      $('#imgPost').hide();

      function getButton(){
        $('#imgPost').show();
      }


    </script>
  </footer>
</html>
