<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/home.css">
  </head>
  <body>

    <%- include partials/_nav %>

    <h1> Welcome, <%= tempLogin %></h1>
    <h3 id="post">New Post</h3>

    <!--______________________Upload Form _________________________-->


        <form class="newPost" action="/post-picture" method="post" enctype="multipart/form-data">

          Select Post Image | <input type="file" name="postpic" onchange="getButton()" id="imageCall" />
          description | <textarea maxlength="150" name="description" rows="4" cols="80"></textarea><br>
          <button type="submit" id="imgPost">Post</button>

        </form>

    <!-- _____________________ ***********_________________________-->



    <hr>

    <div class="my-posts">
      <h3>My Posts</h3>
      <hr>

      <%- include partials/_feeder %>

    </div>

    <div class="my-settings">
      <%# space for altering of personal settings %>
    </div>

  </body>
  <footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>

      $('#imgPost').hide();

      function getButton(){
        $('#imgPost').show();
      }


    </script>
  </footer>
</html>
