<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <%- include partials/_headLinks %>

    <title>Search Tags</title>
  </head>
  <body>

    <%- include partials/_nav %>
    <h2 class="title">#tags</h2>
    <%- include partials/_tagFeed %>

  </body>
</html>
