<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/home.css">

    <title><%= tagQuery %></title>
  </head>
  <body>

    <%- include partials/_nav %>
    <h1><%= tagQuery %></h1>
    <% if (rows.length === 0) { %>
      <h4>No posts! :( woof woof</h4>
    <% } else { %>
      <% console.log(rows) %>
    <%- include partials/_feeder %>
    <% } %>

  </body>
  <footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="../scripts/likes.js"></script>
  <script type="text/javascript" src="../scripts/editController.js"></script>

  </footer>
</html>
